/*
------------------------------------------------------------------

	- _backgrounds.scss / common

------------------------------------------------------------------*/


    //
    // * usage @include background-image(icon--facebook);
    @mixin background-image($name) {
        background-image: url('../images/#{$name}.svg');

        .no-svg & {
            background-image: url('../images/#{$name}.png');
        }
    }


    //
    // * usage @include background-fill();
    // * usage @include background-fill(100px, 10px);
    @mixin background-fill($x:center, $y:center) {
        background-repeat:no-repeat;
        background-position:$x $y;
        background-size:cover;
    }


    //
    // * usage @include background-single(){}
    // * usage @include background-single(100px, 10px){}
    @mixin background-single($x:center, $y:center) {
        background-repeat:no-repeat;
        background-position:$x $y;
        background-size:contain;
    }


    //
    // * usage @include background-size(){}
    // * usage @include background-size(40px, 40px){}
    @mixin background-size($width:auto, $height:auto) {
        background-size:$width, $height;
    }

