/*
------------------------------------------------------------------

    - _debug.scss / utilities
    * stolen from https://github.com/csswizardry/inuit.css

------------------------------------------------------------------*/


    //
    // * settings
    $debug : false;


    @if $debug == true{

        // Are there any empty elements in your page?
        :empty{
            outline:5px solid yellow;
        }


        // *
        // make sure images have alt attributes, empty `alt`s are fine
        img{
            outline:5px solid red;
        }


        // *
        // make sure images have alt attributes, empty `alt`s are fine
        img[alt]{
            outline:none;
        }


        // *
        // make sure images have alt attributes, empty `alt`s are fine
        img[alt=""]{
            outline:5px solid yellow;
        }


        //
        // * make sure links have titles
        a{
            outline:5px solid yellow;
        }


        //
        // * make sure links have titles
        a[title]{
            outline:none;
        }


        //
        // * The `target` attribute ain’t too nice...
        a[target]{
            outline:5px solid yellow;
        }


        //
        // * Double-check any links whose `href` is something questionable.
        a[href="#"],
        a[href*="javascript"]{
            outline:5px solid yellow;
        }


        //
        // * Ensure any lists only contain `li`s as children..
        ul,
        ol{
            > *:not(li){
                outline:5px solid red;
            }
        }


        //
        // * `tr`s as children of `table`s ain’t great, did you need a `thead`/`tbody`?
        table > tr{
            outline:5px solid yellow;
        }


        //
        // * Forms require `action` attributes
        form{
            outline:5px solid red;
        }


        //
        // * Forms require `action` attributes
        form[action]{
            outline:none;
        }


        //
        // * form-field types have required attributes. `input`s need `type` attributes, `textarea`s need `rows` and `cols` attributes and submit buttons need a `value` attribute.
        textarea,
        input{
            outline:5px solid red;
        }


        //
        // * form-field types have required attributes. `input`s need `type` attributes, `textarea`s need `rows` and `cols` attributes and submit buttons need a `value` attribute.
        input[type]{
            outline:none;
        }


        //
        // * form-field types have required attributes. `input`s need `type` attributes, `textarea`s need `rows` and `cols` attributes and submit buttons need a `value` attribute.
        textarea[rows][cols]{
            outline:none;
        }


        //
        // * form-field types have required attributes. `input`s need `type` attributes, `textarea`s need `rows` and `cols` attributes and submit buttons need a `value` attribute.
        input[type=submit]{
            outline:5px solid red;
        }


        //
        // * form-field types have required attributes. `input`s need `type` attributes, `textarea`s need `rows` and `cols` attributes and submit buttons need a `value` attribute.
        input[type=submit][value]{
            outline:none;
        }

        //
        // * Avoid inline styles where possible.
        [style]{
            outline:5px solid yellow;
        }


        //
        // * You should avoid using IDs for CSS, is this doing any styling?
        [id]{
            outline:5px solid yellow;
        }

    }
