/*
------------------------------------------------------------------

    - _fonts.scss / common

------------------------------------------------------------------*/

    //
    // * usage @include font-face('Font', '../fonts/path/favorit-bold', 400, normal);
    @mixin font-face( $family, $path, $weight, $style ) {
        @font-face {
            font-family:  $family;
            src: url('#{$path}.eot');
            src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
                 url('#{$path}.woff') format('woff'),
                 url('#{$path}.ttf') format('truetype'),
                 url('#{$path}.svg#@fontFamily') format('svg');
            font-weight: $weight;
            font-style: $style;
        }
    }


/*----------------------------------------------------------------------
[ fonts ]
----------------------------------------------------------------------*/

