/*
------------------------------------------------------------------

    - _functions.scss / common
    * stolen and appropriated from many sources


------------------------------------------------------------------*/

    //
    // * get a nested map
    // * https://gist.github.com/jlong/8760275
    @function map-fetch($map, $keys) {

        $key: nth($keys, 1);
        $length: length($keys);
        $value: map-get($map, $key);

        @if ($length > 1) {
            $rest: ();

            @for $i from 2 through $length {
                $rest: append($rest, nth($keys, $i))
            }

            @return map-fetch($value, $rest)

        } @else {

            @return $value;
        }
    }
