/*
------------------------------------------------------------------

    - _grid.scss / common
    * customised version of semantic.gs
    * https://github.com/tylertate/semantic.gs

------------------------------------------------------------------*/


    //
    // * settings
    $grid-columns: 12;
    $grid-gutter: 20px;
    $grid-max-width: 1400px;


    //
    // * usage @include clearfix();
    @mixin clearfix() {
        *zoom: 1;

        &:before,
        &:after {
            content: " ";
            display: table;
            line-height: 0;
        }

        &:after {
            clear: both;
        }
    }


    //
    // * usage @include grid-min-width();
    @mixin grid-min-width() {
        min-width:320px;
    }


    //
    // * usage @include grid-make-region();
    @mixin grid-make-region() {
        position:relative;
        width:100%;
    }


    //
    // * usage @include grid-make-container();
    // * usage @include grid-make-container($gutter:10px);
    @mixin grid-make-container($gutter:$grid-gutter) {
        padding-left: $gutter;
        padding-right: $gutter;
        max-width: $grid-max-width;
        margin-left:auto;
        margin-right:auto;
        position: relative;
    }


    //
    // * usage @include grid-contain($gutter:10px);
    @mixin grid-contain() {
        max-width: $grid-max-width;
        margin-right:auto;
        margin-left:auto;
    }


    //
    // * usage @include grid-make-row();
    // * usage @include grid-make-row($gutter:10px);
    // * usage @include grid-make-row($gutter:10px, $align:right);
    @mixin grid-make-row($type:inline, $gutter:$grid-gutter, $align:center) {
        text-align:$align;

        @if($gutter != 0) {
            margin-right: -$gutter;
            margin-left: -$gutter;
        }

        @if ($type == 'float') {
            @include clearfix();
        } @else {
            font-size:0;
        }
    }


    //
    // * usage @include grid-make-table();
    @mixin grid-make-table() {
        table-layout: fixed;
        display: table;
        width:100%;
    }


    //
    // * usage @include grid-make-column(6);
    // * usage @include grid-make-column(10, $gutter:10px);
    // * usage @include grid-make-column(10, $gutter:10px, $align:bottom);
    @mixin grid-make-column($columns, $type:inline, $gutter: $grid-gutter, $align: top) {

        width: percentage($columns / $grid-columns);
        padding-right: $gutter;
        padding-left: $gutter;
        vertical-align:$align;
        @include font-size(16px);

        @if ($type == 'float'){
            float: left;
        } @else {
            display:inline-block;
        }
    }


    //
    // * usage @include grid-column-padding();
    // * usage @include grid-column-padding($gutter:10px);
    @mixin grid-column-padding($gutter: $grid-gutter) {
        padding-right: $gutter;
        padding-left: $gutter;
    }


    //
    // * usage @include grid-make-css-columns();
    // * usage @include grid-make-css-columns(2, $gutter:10px);
    @mixin grid-make-css-columns($count:2, $gutter: $grid-gutter) {
        @include prefix('column-count', $count);
        @include prefix('column-gap', $gutter);
    }


    // column offset
    // * usage @include grid-column-push(2);
    @mixin grid-column-push($offset:1) {
        margin-left: percentage($offset / $grid-columns);
    }


    // column offset
    // * usage @include grid-column-pull(2);
    @mixin grid-column-pull($offset:1) {
        margin-right: percentage($offset / $grid-columns)
    }


    //
    // * helper
    .o-region{
        @include grid-make-region();
    }


    //
    // * helper
    .o-container{
        @include grid-make-container();
    }


    //
    // * helper
    .o-grid{
        @include grid-make-row();
        position: relative;
    }


    //
    // * helper
    .o-grid--flush{
        @include grid-make-row($gutter:0);
        position: relative;
    }


    //
    // * helper
    .o-grid--float{
        @include grid-make-row($type:float);
        position: relative;
    }


    //
    // * helper
    .o-grid--table{
        @include grid-make-table();
    }
