/*
------------------------------------------------------------------

    - _layout.scss / common

------------------------------------------------------------------*/


    //
    // * usage @include layout-layer();
    // * usage @include layout-layer(true);
    @mixin layout-layer($scrolling:false) {
        position:absolute;
        overflow:hidden;
        height:100%;
        width:100%;
        left:0;
        top:0;

        @if ($scrolling == true) {

            -webkit-overflow-scrolling: touch;
            overflow-x:hidden;
            overflow-y: auto;
        }
    }


    //
    // * usage @include layout-scrolling();
    @mixin layout-scrolling {
        -webkit-overflow-scrolling:touch;
        overflow-x:hidden;
        overflow-y:auto;
    }


    //
    // * usage @include layout-contain-center();
    // * usage @include layout-contain-center(450px);
    @mixin layout-contain-center($width:false) {
        margin:0 auto;
        display:block;
        float:none;

        @if ($width != false){
            max-width:$width;
        }
    }


    //
    // * helper
    .o-layout--table {
        display:table;
        height:100%;
        width:100%;
    }


    //
    // * helper
    .o-layout--cell {
        display:table-cell;
        vertical-align:middle;
    }
