/*
------------------------------------------------------------------

    - _stacking.scss / common

------------------------------------------------------------------*/


    //
    // * settings
    $z-index: (
        fallback    : 130,
        loader      : 120,
        detail      : 110,
        masthead    : 90,
        navigation  : 80,
        main        : 50,
        footer      : 30,

        // these should exist within a new context
        context     : 25,
        foreground  : 20,
        midground   : 15,
        background  : 10,

        // force
        negate      : -1
    );


    //
    // * function
    @function z-index($key) {
        @return map-get($z-index, $key);
    }


    //
    // * usage .modal { @include z-index(modal);
    @mixin z-index($key) {
      z-index: z-index($key);
    }
