/*
------------------------------------------------------------------

	- _viewport.scss / common
    * stolen from https://gist.github.com/BenMorel/e9e34c08360ebbbd0634

------------------------------------------------------------------*/

    /*
    Fix for vw, vh, vmin, vmax on iOS 7.

    This fix works by replacing viewport units with px values on known screen sizes.
    iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
    Target devices running iOS 8+ will incidentally execute the media query,
    but this will still produce the expected result; so this is not a problem.

    usage * @include viewport-unit(height, 50vh);
    usage * @include viewport-unit(font-size, 5vmin);
    usage * @include viewport-unit(font-size, 5vmin, -108px);
    usage * @include viewport-unit(font-size, 5vmin, -108px, true);
    */
    @mixin viewport-unit($property, $value, $calc:false, $translateY:false) {

        #{$property}: $value;

        $unit: unit($value);

        @if (index((vw, vh, vmin, vmax), $unit) != null) {

            $devices: (
                (768px, 1024px), // iPad (all versions)
                (320px, 480px),  // iPhone 4 372px / 108px
                (320px, 568px),  // iPhone 5, 5C, 5S 460px / 108px
                (375px, 667px),  // iPhone 6, 7 559px / 108px
                (414px, 736px)   // iPhone 6+, 7+ 628px / 108px
            );

            @each $device in $devices {

                $device-width: nth($device, 1);
                $device-height: nth($device, 2);

                $device-query: "only screen and (-webkit-min-device-pixel-ratio: 1)";
                $device-query: "#{$device-query} and (device-width: #{$device-width})";
                $device-query: "#{$device-query} and (device-height: #{$device-height})";

                $percent: $value / ($value * 0 + 1); // see https://github.com/sass/sass/issues/533

                $percent-width: $device-width * $percent / 100;
                $percent-height: $device-height * $percent / 100;

                @if ($unit == vmin or $unit == vmax) {

                    @media #{$device-query} {
                        #{$property}: if($unit == vmin, $percent-width, $percent-height);
                    }
                }

                @else {

                    @media #{$device-query} and (orientation: portrait) {

                        @if $calc {

                            @if $translateY {

                                #{$property}: unquote("translateY(")calc((#{$percent-height} - 108px) #{$calc}) unquote(")");

                            } @else {

                                #{$property}: calc((#{$percent-height} - 108px) #{$calc});
                            }

                        } @else {

                            #{$property}: ($percent-height - 108px);
                        }

                    }

                    @media #{$device-query} and (orientation: landscape) {
                        #{$property}: if($unit == vw, $percent-height, $percent-width);
                    }
                }
            }
        }
    }
