/*
------------------------------------------------------------------

    - _action.scss / component

------------------------------------------------------------------*/

    //
    // *
    $module: '.action';
    #{$module}{
        @include transition(color, 250ms, $easeOutCirc);
        color:palette(brand, black);

        @include hover-state(color, $transition:false){
            color:palette(brand, grey);
        }
    }

