/*
------------------------------------------------------------------

    - _burger.scss / component

------------------------------------------------------------------*/


    $module: '.burger';
    #{$module} {
        display:inline-block;
        overflow: hidden;
        height:30px;
        width:30px;

        &__background {

            @include transition(all, 150ms, $easeInOutExpo);
            @include will-change(transform);

            display: block;
            width: 100%;

            &.is-active{
                transform: translateY(-30px);
            }

            &--closed,
            &--open{
                display: block;
            }

            &--closed{
                @include background-single;
                @include background-image(burger);
                padding-bottom:100%;
                width: 100%;
            }

            &--open{
                @include background-single;
                @include background-image(close);
                padding-bottom:100%;
                width: 100%;
            }
        }
    }
