/*
------------------------------------------------------------------

    - _fallback.scss / component

------------------------------------------------------------------*/

    //
    // *
    $module: '.fallback';
    #{$module}{
        @include position(absolute, $t:0, $r:0, $b:0, $l:0);
        @include z-index(fallback);
        background-color: palette(white);
        padding: spacing(1);
        display: none;

        .no-touchevents & {
            cursor: url(../images/icon--cursor.svg) 0 0, default !important;

            @include all-link-states {
                cursor: url(../images/icon--cursor.svg) 0 0, default !important;
            }
        }

        .no-rgba &,
        .no-flexbox{
            display: block;
        }

        &__message{
            @include font-size-viewport();
            @include reset-spacing();
            display: block;

        }
    }

