/*
------------------------------------------------------------------

    - _map.scss / component

------------------------------------------------------------------*/


    $module: '.map';
    #{$module}{
        padding-bottom: 56.25%;
        position:relative;
        width:100%;
        height:0;

        &__background{
            position: absolute;
            height:100%;
            width:100%;
            left:0;
            top:0;
        }
    }

    // prevents responsive image styles cascading into gmaps embed
    .gm-style{

        img{
            max-width:none !important;
            min-width:initial !important;
        }
    }
